<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094406722289-o2svqbamrunujuh33mnagde15o5ga4f6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094406722289-o2svqbamrunujuh33mnagde15o5ga4f6</string>
	<key>API_KEY</key>
	<string>AIzaSyALzl8HImgS9W0LO8gcAMWV0z0s-lpilUA</string>
	<key>GCM_SENDER_ID</key>
	<string>1094406722289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.androidthai.ungshoppingmall</string>
	<key>PROJECT_ID</key>
	<string>ungshoppingmall-526ce</string>
	<key>STORAGE_BUCKET</key>
	<string>ungshoppingmall-526ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094406722289:ios:0877f5595774588b664f50</string>
	<key>DATABASE_URL</key>
	<string>https://ungshoppingmall-526ce.firebaseio.com</string>
</dict>
</plist>